*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#main{
    width: 100vw;
    height: 100vh;
}
#back{
    width: 100%;
    height: 100vh;
}
#back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#top{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
#workingarea{
    position: relative;
    margin: 0 auto;
    width: 80%;
    max-width: 1920px;
    height: 100vh;
}
#nav{
    width: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nleft, #nright{
    display: flex;
    align-items: center;
    gap: 40px;
}

#nleft img{
    height: 60px;
}
#nav a{
    pointer-events: all;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    font-family: "gilroy";
}

#hero{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0% ,-50%);
    width: 100%;
}

#heroleft{
    min-width: 50%;
    /* background-color: yellow; */
}

#heroleft #elem{
    position: relative;
    height: 9vw;
    /* background-color: red; */
    overflow: hidden;
}

#heroleft #elem h1:nth-child(1){
    top: 0;
}

#heroleft #elem h1{
    top: 100%;
    left: 0;
    position: absolute;
    line-height: .9;
    font-family: "kajiro";
    color: white;
    font-weight: 100;
    font-size: 9vw;
}
#heroright{
    min-width: 25%;
    /* background-color: green; */
}
#heroleft button{
    pointer-events: all;
    padding: 1vw 3vw;
    letter-spacing: 1px;
    margin-top: 1vw;
    font-size: 2vw;
    font-family: "kajiro";
    background-color: rgba(255, 255, 255, 0.39);
}
#heroleft button:hover{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
